{% extends 'SonataAdminBundle:CRUD:base_list_flat_inner_row.html.twig' %}

{% block row %}

    {# you can use fields defined in the the Admin class #}
    <strong>{{ object|render_list_element(admin.list['name']) }}</strong>
    <span class="pull-right">
        <span class="label label-default">{{ ('lanzadera.criterion.type.'~object.type)|trans({}) }}</span>
    </span>
    <br />
    <small>Clasificación: <a href="{{ path('lanzadera_classification_show', {'id': object.classification.id}) }}">{{ object.classification }}</a></small>
    <br />
    {{ object.description }}

{% endblock %}