{% block sonata_media_type_widget %}
    <div class="row">
        <div class="col-md-12">
            {% if value is not empty and value.providerReference %}
                <div class="panel panel-default">
                    <div class="panel-body text-center">
                        {% media value, 'reference' with {'class': 'img-responsive img-thumbnail'} %}
                    </div>
                    <div class="panel-footer">
                        {% if sonata_admin_enabled is defined and sonata_admin_enabled %}
                            <a href="{{ url('admin_lanzadera_media_media_edit', {id: value.id}) }}"><strong>{{ value.name }}</strong></a>
                        {% else %}
                            <strong>{{ value.name }}</strong>
                        {% endif %}
                    </div>
                </div>
            {% else %}
                <div class="pull-left" style="margin-right: 5px">
                    <img src="{{ asset('bundles/sonatamedia/grey.png') }}" class="img-polaroid media-object" style="width: 85px; height: 85px"/>
                </div>
                <strong>{{ 'product.media.no_linked_media'|trans() }}</strong> <br />
                <span type="label">{{ form.vars['provider']|trans({}, 'SonataMediaBundle') }} ~ {{ form.vars['context']|trans({}, 'SonataMediaBundle') }}</span>
            {% endif %}
        </div>

        <div class="col-md-12">
            {{ block('form_widget') }}
        </div>
    </div>
{% endblock sonata_media_type_widget %}
