{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Iniciar sesión | Lanzadera {% endblock %}

{% block fos_user_content %}

    {% if error %}
        <div class="alert alert-danger">
            {{ ( error|trans ) }}
        </div>
    {% endif %}

    <div class="panel-heading"><h3 class="panel-title"><strong>Iniciar sesión </strong></h3></div>

    <div class="panel-body">
        <form action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            <div class="form-group">
                <label for="username">Usuario</label>
                <input type="text" class="form-control" style="border-radius:0px" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="password">{{ 'security.login.password'|trans }} <a href="{{ path("fos_user_resetting_request") }}">(recuperar contraseña)</a></label>
                <input type="password" class="form-control" style="border-radius:0px" id="password" name="_password" required="required" placeholder="Password">
            </div>
            <div class="form-group">
                <label class="checkbox checked" for="check1">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    <span></span> {{ 'security.login.remember_me'|trans }}
                </label>
            </div>
            <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
        </form>
    </div>

{% endblock fos_user_content %}
