{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}
{% block field %}
    {% spaceless %}
        {% if value is not empty and value.providerReference %}
            <div class="pull-left" style="margin-right: 5px">
                {% thumbnail value, 'admin' with {'class': 'img-polaroid media-object'} %}
            </div>
            <strong>{{ value.name }}</strong>
            <br />
            <span type="label">{{ value.providerName|trans({}, 'SonataMediaBundle') }}</span> ~ {{ value.context }}
        {% else %}
            <div class="pull-left" style="margin-right: 5px">
                <img src="{{ asset('bundles/sonatamedia/grey.png') }}" class="img-polaroid media-object" style="width: 85px; height: 85px"/>
            </div>
            <strong>{{ 'product.media.no_linked_media' | trans() }}</strong> <br />
        {% endif %}
    {% endspaceless %}
{% endblock %}