{% extends 'SonataAdminBundle:CRUD:base_list_flat_inner_row.html.twig' %}

{% block row %}

    {% if not object.enabled %}
        <code><i class="fa fa-lock"></i></code>
    {% endif %}
    {{ object|render_list_element(admin.list['name']) }}
    <span class="pull-right lanzadera-list-field-date"><i class="fa fa-clock-o"></i> {{ object|render_list_element(admin.list['createdAt']) }} </span>
    <br/>
    <small>
        <i class="fa fa-bookmark-o"></i> <a href="{{ object.web }}">{{ object.webServerName }}</a>
        - <i class="fa fa-phone"></i> <a href="tel:{{ object.phone | replace({' ': ''}) }}">{{ object.phone }}</a>
        - <i class="fa fa-envelope-o"></i> <a href="mailto:{{ object.email }}">{{ object.email }}</a>
    </small>

{% endblock %}